{% extends "dwarves/layout.html" %}
{% load tags %}
{% block body %}
<h1>Mining</h1>

<div class="container">
{% if messages %}
{% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% endif %}

{% for mine in mines %}
    <h3>{{ mine.name }}</h3>
    <ul>
    {% for mineral in mine.minerals.all %}
        <li>{{ mineral.rarity }} : {{ mineral.name}}</li>
    {% endfor %}
    </ul>
    {{ mine.rate }} drops/hour <br>

        {% if mine in active_mines %}

            {% for job in active_jobs %}
                {% if job.mine == mine %}
                    {{ job.dwarf.name }} is currently mining:
                    {{ job|progress }} / {{job.dwarf.capacity}} {{ job|time_remaining }} minutes remaining
                    <form action="{% url 'stop_mining' mine.name %}" method="post">
                        {% csrf_token %}
                        <input type="submit" name={{ mine.name }} value="Stop Mining">
                    </form>
                {% endif %}
            {% endfor %}

        {% else %}

            <form action="{% url 'start_mining' mine.name %}" method="post">
                {% csrf_token %}
                <label for="dwarf">Choose a Dwarf:</label>
                <select name="dwarf">
                    {% for dwarf in inactive_dwarves %}
                        <option value={{ dwarf.name }}>{{ dwarf.name }}</option>
                    {% endfor %}
                </select>

                <input type="submit" name={{ mine.name }} value="Start Mining">
            </form>

        {% endif %}

{% endfor %}
{% endblock %}